<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if pageTitle is defined and pageTitle is not empty %}{{ pageTitle }} | {% endif %}{{ generalInfo.fullName | lower }} | {{ generalInfo.tagline }}</title>

	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if metaDescription is defined %}
	<meta property="description" content="{{ metaDescription }}">
{% endif %}
{% if metaKeywords is defined and metaKeywords | length %}
	<meta property="keywords" content="{% for k in metaKeywords %}{{ k }}{% if loop.last != true %}, {% endif %}{% endfor %}">
{% endif %}
{% if metaRobots is defined %}
	<meta property="robots" content="{{ metaRobots }}">
{% endif %}

	<!-- Open Graph -->
	<meta property="og:title" content="{{ generalInfo.fullName }}" />
	<meta property="og:type" content="restaurant" />
	<meta property="og:url" content="http://mamnoonrestaurant.com" />
	<meta property="og:image" content="http://mamnoonrestaurant.com/assets/img/logo-mamnoon-opg.png" />
	<meta property="og:site_name" content="Mamnoon Restaurant | Seattle" />
	<meta property="og:description" content="A Modern Union of Middle Eastern Cuisines" />

	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css">

	<!-- Styles -->
	<!-- minimee way that doest current work -->
	<!-- {{ craft.minimee.css([
			'/assets/css/style.css',
			'/assets/css/responsive.css',
			'/assets/css/opentable.css'
		])
	}} -->
<!-- minimee way that doest current work -->



<!-- uncompressed way  -->
	{% includeCssFile "/assets/css/style.css" %}
	{% includeCssFile "/assets/css/responsive.css" %}
	{% includeCssFile "/assets/css/opentable.css" %}

<!-- uncompressed way  -->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script>
		var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36474445-1']);
			_gaq.push(['_trackPageview']);
		(function() {
			var ga   = document.createElement('script');
			ga.type  = 'text/javascript';
			ga.async = true;
			ga.src   = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s    = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

	{% block head %}
	{% endblock %}
</head>

<body>
<!-- <hello joseph waine 2017> -->
{% block title %}

{% set bannerImage = {
	width: 1600,
	height: 300
} %}

<div id="title"{% if generalInfo.headerImage | length %} style="background-image: url({{ generalInfo.headerImage[0].getUrl(bannerImage) }});"{% endif %}>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
				<p>{{ generalInfo.tagline }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% include "parts/nav" %}



<!---->

<section id="family-meal" style="padding: 50px 0px;background: #EAE6DC;">
        <div class="container">
                <div class="row">
                        <div class="span12">



<h3 style="font-size: 32px;margin-bottom: 12px;">TWIG The Mama Family Meal</h3>
<h3 style="font-size: 24px;margin-bottom: 20px;font: 400 24px 'Quicksand', sans-serif;">available by email or phone: <a href="tel:1-206-906-9606" style="color: #c11637;text-decoration:underline">206 906-9606</a><br>Dinner/Mama Family Meal: Tues-Thurs 5pm-8pm, Fri/Sat 5pm-8:30pm,<br/>CLOSED:Sun/Mon<br />Lunch/To-Go Menu 11:30am-8pm</h3>
<p style="font-size: 22px;line-height: 32px;width: 80%;margin: 0 auto;">
For the mama group, family meals are an important time for our teams to get together before serving you, important to nourish their bodies and bond with one another over a shared meal. It’s in the name...we are family when we fuel up before a shift.  During this time of stressful uncertainty, we want to include you in our “family meal”.  You and the community deserve to enjoy a healthy and delicious meal at an incredible value and to be a strong part of our extended family. <br/>
<br />We’ve put together some of the most loved mamnoon dishes showcasing our nutritious and fresh ingredients. The family meal is <b><i>$40 and feeds two people</i></b> and consists of the following: mezze of your choice & mamnoon pita, our famous arnabeit (cauliflower), fattoush salad, a meat or vegetarian option sealed with our superb baklava (please no substitutions on dinner). We're happy to increase your size by multiples of two. We are also offering a $15 bottle of curated red or white wine. Ordering is available from 2 PM to 4 PM by email at <a href="mailto:info@mamnoonrestaurant.com" style="text-decoration:underline;">info@mamnoonrestaurant.com</a>. If you email please provide us with a phone number and wait for a confirmation email. Orders from 4 PM to 7:30 PM can be taken by phone at <a href="tel:1-206-906-9606" style="text-decoration:underline;">206 906-9606</a>, while supplies last. A curbside pickup option will be available in our loading zone. Just call us when you arrive!
<br/>
</p>
<br />
<p style="font-size: 20px;line-height: 32px;width: 80%;margin: 0 auto;">
<b>Let us help keep your family happy and strong now.</b>
</p>










                        </div>
                </div>
        </div>
</section>


<!---->   
         

{% block content %}
{% endblock %}

{% block social %}
<div id="social">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2>like us</h2>
			</div>
		</div>
		<div class="row">
			<div class="span2 offset3">
				<p>
					<a href="https://twitter.com/mamnoontoo" target="_blank" class="twitter" onclick="_gaq.push(['_trackEvent', 'action', 'social', 'social-twitter'])">Visit our Twitter page</a>
				</p>
			</div>
			<div class="span2">
				<p>
					<a href="http://facebook.com/mamnoonrestaurant" target="_blank" class="facebook" onclick="_gaq.push(['_trackEvent', 'action', 'social', 'social-facebook'])">Visit our Facebook page</a>
				</p>
			</div>
			<div class="span2">
				<p>
					<a href="http://instagram.com/mamnoonrestaurant" target="_blank" class="instagram" onclick="_gaq.push(['_trackEvent', 'action', 'social', 'social-instagram'])">Visit our Instagram page</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block thanks %}
<div id="thanks">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2>thank you</h2>
				<p class="circle-btns">
					<a class="pull-left" href="https://rez.urbanspoon.com/reservation/start/6336?source=selfhost" onclick="_gaq.push(['_trackEvent', 'action', 'reserve', 'reserve-bottom'])">reserve online</a>

					<span class="or">or</span>
					<a class="pull-right telephone" href="tel:+1{{ generalInfo.phoneNumber | replace('-', '') }}" onclick="_gaq.push(['_trackEvent', 'action', 'call', 'call-bottom'])">
						206 <nobr>{{ generalInfo.phoneNumber | replace({'206-': ''}) }}</nobr>
					</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<p>{{ generalInfo.reservationNote }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}

<footer id="foot">
	<div class="container">
		<div class="row">
			<div class="span12">
				<p>
					<img src="http://mamnoonrestaurant.com/assets/img/logo-arabic.png">
				</p>
			</div>
		</div>
	</div>
</footer>

{% endblock %}


{% block globalScripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>



<!-- minimee way that doest current work -->
<!-- {{ craft.minimee.js([
		'/assets/js/swipe.min.js',
		'/assets/js/jquery.scrolldepth.min.js',
		'/assets/js/bootstrap.min.js',
		'/assets/js/bootstrap-transition.js',
		'/assets/js/unslider.min.js',
		'/assets/js/jquery.sticky.min.js',
		'/assets/js/mamnoon.min.js'
	])
}} -->
<!-- minimee way that doest current work -->



<!-- uncompressed way  -->

<script type="text/javascript" src="/assets/js/swipe.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrolldepth.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/assets/js/unslider.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.sticky.min.js"></script>
<script type="text/javascript" src="/assets/js/mamnoon.min.js"></script>

<!-- uncompressed way  -->

{% endblock %}

{% block script %}
{% endblock %}

</body>
</html>
